<a href="https://colab.research.google.com/github/ranjithsrajan/PyLab/blob/main/8_Tuples_and_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Walkthrough Video
from IPython.display import HTML
HTML("""<video width="620" height="400" controls>
    <source src="https://cdn.exec.talentsprint.com/content/8_Tuples_and_Sets.mp4">
</video>
""")

In [ ]:
#@title Run this cell to download the text file
!wget https://cdn.iisc.talentsprint.com/romeo.txt

--2023-08-21 07:33:48--  https://cdn.iisc.talentsprint.com/romeo.txt
Resolving cdn.iisc.talentsprint.com (cdn.iisc.talentsprint.com)... 172.105.52.210
Connecting to cdn.iisc.talentsprint.com (cdn.iisc.talentsprint.com)|172.105.52.210|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 169 [text/plain]
Saving to: ‘romeo.txt.3’

romeo.txt.3         100%[===================>]     169  --.-KB/s    in 0s

2023-08-21 07:33:49 (66.2 MB/s) - ‘romeo.txt.3’ saved [169/169]

## **Introduction to Tuples**

- Tuples is a collection which is ordered and unchangeable.

- It is much like a list, main difference between tuple and list is that tuples are immutable. represented as **( )**.

- The values of tuples are syntactically separated by commas.

**Tuples are like lists**

- Tuples are another kind of sequence that functions much like a list - they have elements that are indexed starting at 0

In [ ]:
x = ('Glen', 'Sally', 'Joseph')
print(x[2])

Joseph

In [ ]:
y = (1, 9, 2)
print(y)

(1, 9, 2)

In [ ]:
print(max(y))

9

In [ ]:
for iter in y:
    print(iter)

1
9
2

**Tuples are 'immutable'**

- Unlike a list, once you create a tuple, you cannot alter its contents - similar to a string.

In [ ]:
# Lists are mutable
x = [9, 8, 7]
x[2] = 6
print(x)

[9, 8, 6]

In [ ]:
 #Strings are immutable
y = 'ABC'
y[2] = 'D'

In [ ]:
z = (5, 4, 3)
z[2] = 0

**Things not to do with Tuples**

In [ ]:
x = (3, 2, 1)
x.sort()

In [ ]:
x.append(5)

In [ ]:
x.reverse()

**A Tale if Two Sequences**

- Methods available for lists.
- Since lists are mutable, these methods help to alter the lists.

In [ ]:
l = list()
dir(l)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

- Methods available for tuples.
- Since tuples are immutable, there are no such methods to alter it.

In [ ]:
t = tuple()
dir(t)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**Tuples and Assignment**

- We can also put a tuple on the left-hand side of an assignment statement
- We can even omit the parentheses

In [ ]:
(x, y) = (4, 'fred')
print(y)

fred

In [ ]:
a, b = 99, 98
print(a)

99

**Tuples and Dictionaries**

- The items() method in dictionaries returns a list of (key, value) tuples

In [ ]:
d = dict()

d['mark'] = 2
d['steve'] = 4
for (k, v) in d.items():
    print(k, v)

mark 2
steve 4

In [ ]:
tups = d.items()
print(tups)

dict_items([('mark', 2), ('steve', 4)])

**Tuples are Comparable**

- The comparison operators work with tuples and other sequences.

- If the first item is equal, Python goes on to the next element, and so on, until it finds element that differ.

In [ ]:
(0, 1, 2) < (5, 1, 2)

True

In [ ]:
(0, 1, 2000000) < (0, 3, 4)

True

In [ ]:
('Jones', 'Sally') < ('Jones', 'Sam')

True

In [ ]:
('Jones', 'Sally') < ('Adams', 'Sam')

False

**Sorting Lists of Tuples**

- We can take advantage of the ability to sort a list of tuples to get a sorted version of a dictionary.
- First we sort the dictionary by the key using the items() method and sorted() function.

In [ ]:
d = {'a' : 10, 'b' : 1, 'c' : 22}
d.items()

dict_items([('a', 10), ('b', 1), ('c', 22)])

In [ ]:
sorted(d.items())

[('a', 10), ('b', 1), ('c', 22)]

**Using sorted()**

- we can do this even more directly using the built-in function *sorted* that takes a sequence as a parameter and returns sorted sequence.

In [ ]:
d = {'a' : 10, 'b' : 1, 'c' : 22}
t = sorted(d.items())
t

[('a', 10), ('b', 1), ('c', 22)]

In [ ]:
for k, v in sorted(d.items()):
    print(k, v)

a 10
b 1
c 22

**Sort by values instead of key**

- If we could construct a list of tuples of the form(values, keys) we could sort by value
- We do this with a *for* loop that creates a list of tuples

In [ ]:
c = {'a' : 10, 'b' : 1, 'c' : 22}

tmp = list()
for k, v in c.items():
    tmp.append((v, k))

print(tmp)

[(10, 'a'), (1, 'b'), (22, 'c')]

In [ ]:
tmp = sorted(tmp, reverse = True)
print(tmp)

[(22, 'c'), (10, 'a'), (1, 'b')]

In [ ]:
# If we have a text file
fhand = open('romeo.txt') # pass the text file
counts = {}
for line in fhand:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word, 0) + 1

In [ ]:
lst = [] #empty list
for key, val in counts.items():
    newtup = (val, key)
    lst.append(newtup)

lst = sorted(lst, reverse = True)

for val, key in lst[:10]:
    print(key, val)

the 3
is 3
and 3
sun 2
yonder 1
with 1
window 1
what 1
through 1
soft 1

**Even shorted version**

- We can also use list comprehension to dynamically create a list of reversed tuples and then sort it.

In [ ]:
c = {'a' : 10, 'b' : 1, 'c' : 22}
print(sorted([(v, k) for k, v in c.items()]))

[(1, 'b'), (10, 'a'), (22, 'c')]

## **Introduction to Sets**

- A set is an object that stores a collection of data in the same way as mathematical sets. It is an unordered collections of object, unlike sequence objects such as lists and tuples.

- All elements in the set must be unique, this are unordered, i.e. its elements are not stored in any particular order.
- The elements that are stored in a set can be of different data types.

- However, the set itself is mutable. i,e. we can add or remove items from it.

- Sets can be used to perform mathematical set operations like union, intersection, symmetric differences, etc.

**Creating of a Set**

- A set is created by placing all the elements inside curly braces **{}**, seperated by comma or by using the built-in function **set{}**

In [ ]:
# Creating a set
numberSet = {1, 2, 3, 4, 3, 2}
print(numberSet)

{1, 2, 3, 4}

- The elements can be of different types(integer, float, tuple. string, etc.)

In [ ]:
# Creating an empty set
emptySet = {} # This creates a Dictionary
print(type(emptySet))

<class 'dict'>

- But a set cannot have a mutable element, like list or dictionary

In [ ]:
emptySet = set() # this creates an empty set
print(type(emptySet))

<class 'set'>

- A set can contain elements of different types

In [ ]:
# A set of mixed data types
my_set = (1.0, 'Hello', (1, 2, 3))
print(my_set)

(1.0, 'Hello', (1, 2, 3))

- A Set cannot contain lists

In [ ]:
# Creating an empty set
set_with_lists = {[1, 2, 3]}

TypeError: ignored

- We can convert a list to set using set function

In [ ]:
set_with_lists = set([1, 2, 3])
print(type(set_with_lists))
print(set_with_lists)

<class 'set'>
{1, 2, 3}

**Adding elements to set**

- Sets are mutable. but since they are unordered, indexing has no meaning.

- We cannot access or change an element of a set using indexing or slicing

In [ ]:
my_set = set()
my_set.update([9, 12])
my_set.update((3, 5))
my_set.update('SIKANDER')
print(my_set)

{3, 5, 9, 'R', 12, 'K', 'A', 'E', 'S', 'D', 'I', 'N'}

- We can add single element using the **add()** method and multiple elements using the **update()** method

- The update() method can take tuples, lists, strings or other sets as its aruguments.

- In all cases, duplicates are avoided

In [ ]:
my_set.update(('INDIA', 'BHARAT'))
print(my_set)

{3, 5, 'BHARAT', 9, 'R', 12, 'INDIA', 'K', 'A', 'E', 'S', 'D', 'I', 'N'}

In [ ]:
my_set.update(4, 5)

TypeError: ignored

**Remove elements from a Set**

- A particular item can be removed from set using methods, disard() and remove().

In [ ]:
print(my_set)

{3, 5, 'BHARAT', 9, 'R', 12, 'INDIA', 'K', 'A', 'E', 'S', 'D', 'I', 'N'}

- Using discard(), if the item does not exit in the set, it remains unchanged.

In [ ]:
my_set.discard(12)
print(my_set)

{3, 5, 'BHARAT', 9, 'R', 'INDIA', 'K', 'A', 'E', 'S', 'D', 'I', 'N'}

- But using remove(), if the items does not exist in the set, it will raise an error.

In [ ]:
my_set.remove(15)

KeyError: ignored

**Set Membership Test**

- We can test if an item exists in a set or not, using the **in** operator.

In [ ]:
# Initialize my set
my_set = set('apple')

In [ ]:
# check if 'a' is present
# output: True
print('a' in my_set)

True

In [ ]:
# check if 'p' is present
# output: False
print('p' not in my_set)

False

**Remove Duplicate Elements**

- Given a list of elements, remove the duplicate elements.

- Read a string and find the number of unique characters in it.

In [ ]:
data = 'cranes varsity bangalore'
unique = set(data)
print('Number of unique characters=', len(unique))
print('List of unique characters=', unique)

Number of unique characters= 15
List of unique characters= {'o', 'v', 'e', 'i', 'c', 'r', 't', 's', 'a', 'l', 'b', 'g', ' ', 'y', 'n'}

In [ ]:
data = list(data)
for ele in unique:
    data.remove(ele)
print('Repeated character', set(data))

Repeated character {'e', 'r', 's', 'a', ' ', 'n'}

**Set Operations**

- Sets can be used to carry out mathematical set operations like union, intersection, difference, and symmetric difference.

- We can do this with operators or methods

In [ ]:
# Example: Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print('Union          =', A|B)
print('Intersection   =', A&B)
print('Difference     =', A-B)
print('Symmetric Diff =', A^B)

Union          = {1, 2, 3, 4, 5, 6, 7, 8}
Intersection   = {4, 5}
Difference     = {1, 2, 3}
Symmetric Diff = {1, 2, 3, 6, 7, 8}